@import (less) "../bower_components/angular-hotkeys/build/hotkeys.css";
@import (less) "../bower_components/angular-ui-select/dist/select.css";

body {
  padding-top: 60px;
}

.search-row {
  margin-bottom: 15px;
}

.add-note {
  margin-top: 9px;
}
