<!DOCTYPE html>
<html lang="en" ng-app="winterpad">
<head>
    <title>winterpad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" media="all" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../bower_components/ng-markdown/dist/ng-markdown.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../css/main.css"/>
</head>
<body>
  <div id="topMenu">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid" ng-controller="UtilController">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ghr-top-menu">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#/">winterpad</a>
                  <div class="navbar-brand navbar-state">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addNoteDialog">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <span ng-show="isOnline" class="glyphicon glyphicon-globe"></span>
                  </div>
              </div>
              <div class="collapse navbar-collapse" id="ghr-top-menu" menu>
                <ul class="nav navbar-nav">
                  <li><a href="#/" data-toggle="modal" data-target="#preferenceDialog">Preferences</a></li>
                  <li><a href="#/" ng-click="openExternal('https://github.com/Dica-Developer/winterpad/issues/new')">Report a problem</a></li>
                  <li><a href="#/" ng-click="openExternal('https://github.com/Dica-Developer/winterpad/issues/new')">Request a feature</a></li>
                </ul>
              </div>
          </div>
      </nav>
  </div>

  <div id="main" class="container-fluid" ui-view></div>
  <!-- build:js js/index.js -->
  <script type="text/javascript" src="../cordova.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/lodash/dist/lodash.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/angular-ui-select/dist/select.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/angular-elastic/elastic.js"></script>
  <script src="../bower_components/ng-markdown/dist/ng-markdown.js"></script>
  <script src="../bower_components/taffydb/taffy.js"></script>
  <script src="../bower_components/dica-developer-fileutil/lib_fileutil.js"></script>
  <script src="../bower_components/dica-developer-db/lib_db.js"></script>

  <script src="../js/index.js"></script>
  <script src="../js/platform/cordova/lib_cordova.js"></script>
  <script src="../js/platform/cordova/lib_menu.js"></script>
  <script src="../js/platform/cordova/lib_utils.js"></script>
  <script src="../js/notes/note.js"></script>
  <script src="../js/controllers.js"></script>
  <script src="../js/utilController.js"></script>
  <script src="../js/routes.js"></script>
  <!-- endbuild -->
</body>
</html>
