<div ng-show="error" class="alert alert-danger" role="alert">
  {{message}}
</div>

<div class="row search-row">
  <div class="col-xs-12">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </span>
      <input class="form-control" type="text" ng-model="filterValue" placeholder="search"></input>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div ng-repeat="(key, value) in notes | filter:filterValue" class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_{{value.id}}">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{value.id}}" aria-expanded="false" aria-controls="collapse_{{value.id}}">
          {{value.title}}
        </a>
        <div class="btn-group btn-group-xs pull-right" role="group">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#updateNoteDialog" data-note="{{value.id}}" ng-click="openDialogForNoteUpdate($event)">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteNoteDialog" data-note="{{value.id}}" ng-click="openDialogForNoteDeletion($event)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div id="collapse_{{value.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{value.id}}">
        <div id="noteContent_{{value.id}}" class="panel-body">
          {{value.content}}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="modal fade" id="deleteNoteDialog" tabindex="-1" role="dialog" aria-labelledby="deleteNoteDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="deleteNoteDialogLabel">Delete note</h4>
      </div>
      <div class="modal-body container-fluid">
        Do you really want to delete the note with id '<span id="noteIdToDelete"></span>'?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="deleteNote()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateNoteDialog" tabindex="-1" role="dialog" aria-labelledby="updateNoteDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="updateNoteDialogLabel">Update note</h4>
        </div>
        <div class="modal-body container-fluid">
          <textarea id="noteContentForUpdate" rows="23" class="col-xs-12"></textarea>
        </div>
        <div class="modal-footer" ng-controller="RootController">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="updateNote()" data-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>
